<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="mybatis.model.Card" alias="Card"/>
        <typeAlias type="mybatis.model.Set" alias="Set"/>
        <typeAlias type="mybatis.model.CardPrinting" alias="CardPrinting"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="openejb:Resource/MagicDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/CardMapper.xml"/>
        <mapper resource="mybatis.xml/SetMapper.xml"/>
        <mapper resource="mybatis.xml/CardPrintingMapper.xml"/>
    </mappers>
</configuration>